body {background: purple;
color: white;
font-size: 18pt; 
text-align: center;
font-family: "Comic Sans MS", cursive, sans-serif;}

h1 { text-align: center; font-size: 40pt;}

a {
    color: white;
}

p {
    font-family: "Comic Sans MS", cursive, sans-serif;
}
